.ldim{
  background-image: url("../public/Landing_image.jpg");
  height: 885px;
  background-repeat: no-repeat ;
  background-size: 100%;
}

.back{
  background-image: url("../public/Book.jpeg");
  background-repeat: no-repeat ;
  background-size: 100%;
  /* height: 885px;
  background-size: 100%; */
}

.rectlog{
  width: 400px;
  height: 500px;
  background-color: rgba(217, 217, 217, 0.6);
  color: black;
  position: absolute;
  z-index: 10px;
  margin-left: 40%;
  border-radius: 5px;
  margin-top: 5%;
}

.inputbox{
  width: 55%;
  height: 28px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(201, 198, 198, 1);
  text-align: left;
  margin-left: 90px;
  border-radius: 5px;

}

.button{
  width: 30%;
  height: 35px;
  background-color: brown;
  color: white;
  position: absolute;
  z-index: 40px;
  margin-left:35%;
  margin-top: 30%;
  border-radius: 5px;
}

.regback{
  /* background-image: url(../public/Agar.png);
  height: 75rem;
  background-size: 100%;
  position: relative;
  z-index: 5px; */
  background-image: url('./map.jpg');
  background-repeat: no-repeat ;
  background-size: 100%;
}

.button2{
  /* width: 20%;
  height: 40px; */
  background-color: rgba(96, 33, 0, 1);
  color: white;
  position: absolute;
  z-index: 5px;
  border-radius: 5px;
  text-align: center;
}

.back2{
  background-image: url("../src/Admin/River.png");
  height: 80rem;
  background-size: 100%;
  position: relative;
  z-index: 5px;

}

.bannertext{
  height: 10%;
  width: 88%;
  margin-left: 14.3%;
  position: relative;
  background-color: rgba(96, 33, 0, 1);
  color: rgba(210, 45, 45, 0.8);
  text-align: center;
 
}

.rectreg{
  width: 40%;
  height: 150%;
  background-color: rgba(217, 217, 217, 0.9);
  color: black;
  position: absolute;
  z-index: 10px;
  margin-left: 25%;
  border-radius: 5px;
  margin-top: 5%;

}

.text2{
  text-align: left;
}

.inputbox2{
  width: 55%;
  height: 28px;
  background-color: rgba(255, 255, 255, 1);
  color: white;
  text-align: left;
  margin-right: auto;
  border-radius: 5px;

}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 50%;
  margin-left: 130%;
}

.rectable{
  width: 40%;
  height: 800px;
  background-color: rgba(217, 217, 217, 0.9);
  color: black;
  position: absolute;
  z-index: 10px;
  margin-left: 25%;
  border-radius: 5px;
  margin-top: 5%;

}
.bannerleft{
  width: 20%;
  position: absolute;
  background-color: rgba(96, 33, 0, 1);
  z-index: 600px;
}

.table2{
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 1);
  color: white;
  text-align: left;
  position: absolute;
  z-index: 30px;
  margin-left: 25%;
  margin-top: 5%;
}

.back3{
  background-image: url("../src/Institution/Oldpaper.png");
  height: 70rem;
  margin-left: 257px;
  background-size: 190%;
  position: relative;
  z-index: 5px;
}

.rectinstr{
  width: 40%;
  height: 80%;
  background-color: rgba(217, 217, 217, 0.9);
  color: black;
  position: absolute;
  z-index: 10px;
  margin-left:40%;
  border-radius: 5px;
  margin-top: -60%;

}

.tableinst{
  margin-left: 20%;
  margin-top: -70%;
  z-index: 40px;
  background-color: aliceblue;
  min-width: 80%;
  text-align: center;
}

.photos{
  width: 40%;
  height: 500px;
  margin-left: 35%;
  margin-top: -70%;
  background-color: rgba(217, 217, 217, 0.8);
  z-index: 30p;
}

.instback{
  background-image: url('../src/Institution/Oldpaper.png');
  background-repeat: no-repeat  ;
  background-size: 100%;
}

.incomback{
  background-image: url('../src/IncomeTax/Woods.jpeg');
  background-repeat: no-repeat ;
  background-size: 100%;
  
}

.archback{
  background-image: url('../src/Archaeology/Egyptian.jpeg');
  background-repeat: no-repeat ;
  background-size: 100%;

}

.pilgback{
  background-image: url('../src/Pilgrim/dew.jpg');
  background-repeat: no-repeat ;
  background-size: 100%;

}

.admback{
  background-image: url('../src/Admin/Polygon.jpg');
  background-repeat: no-repeat ;
  background-size: 100%
}




/* CustomPaginate.css */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.page {
  cursor: pointer;
  margin: 0 5px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #333;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #c0c0c0;
    
  }
}

.active {
  background-color: #007bff;
  color: #fff;
}

.previous,
.next {
  cursor: pointer;
  margin: 0 5px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
  }
}
[role="button"]{
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content!important;
  padding-top: 20px!important;
}


.homeback{
  background-image: url('../src/Agar.png');
  background-repeat: no-repeat ;
  background-size: 100%
}